/////////////////////////////////////////////////////////////////////////////
/////
///// STANDARD MEDIA QUERIES BASED ON BROWSER WIDTH
/////
/////////////////////////////////////////////////////////////////////////////

@media only screen and (max-width: 840px) {
    .article {
        .meta, h1, h2, h3, h4, h5, h6, p {
            padding: 0 2.5%;
        }

        img.alignnone {
            max-width: 110%;
            left: -5%;
            height: auto;
        }

        ul, ol {
            margin-left: 20%;

            li {
                font-size: 1.8em;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    // enter styles here
}

@media only screen and (max-width: 640px) {
    // enter styles here
}

@media only screen and (max-width: 480px) {
    // enter styles here
}

@media only screen and (max-width: 320px) {
    // enter styles here
}

/////////////////////////////////////////////////////////////////////////////
/////
///// RETINA SCREENS
/////
/////////////////////////////////////////////////////////////////////////////
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    // enter retina styles here
}

/////////////////////////////////////////////////////////////////////////////
/////
///// SMARTPHONES AND TABLETS SPECIFIC
///// credit goes to Chris Coyier from CSS Tricks - http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
/////
/////////////////////////////////////////////////////////////////////////////

// smartphones (portrait and landscape)
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    // enter styles here
}

// smartphones (landscape)
@media only screen and (min-width : 321px) {
    // enter styles here
}

// smartphones (portrait)
@media only screen and (max-width : 320px) {
    // enter styles here
}

// ipads (portrait and landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    // enter styles here
}

// ipads (landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    // enter styles here
}

// ipads (portrait)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    // enter styles here
}