.site-header {
    max-width: 640px;
    margin: 40px auto 0;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid @line-color;

    a {
        color: @heading-font-color;
        text-decoration: none;
    }

    img {
        .border-radius(75px);
        margin-bottom: 20px;
    }

    span {
        display: block;
        line-height: 1.2;
        font-weight: 700;
        font-size: 28px;
    }


}